@font-face {
  font-family: crayonCrumble;
  src: url('../../../DK Crayon Crumble.ttf');
}

div.new-quiz-bottom #general-quiz-button {
  padding: 0;
  margin: 1em 0em 0em 0em;
}

.select-box {
  border: white 1px solid;
  background-color: #222322;
  margin-left: 10px;
  padding: 5px 0px 5px 14px;
  text-align: center;
  width: 8em;
}

button:focus {outline:0;}

div.X button {
  width: 2em;
  border: none;
  font-size: 2em;
}

.new-quiz-question {
  border: solid 1px white;
  padding: 20px;
  margin-top: 1em;
}

.quiz-builder {
  color: white;
  margin: 0em 1em;
}

.q {
  margin-right: 5px;
  padding-top: 8px;
}

.pub-title {
  text-align: center;
}

.a {
  padding-top: 8px;
}

.answer {
  padding-right: 7px;
}

.remove-question {
  display: inline-flex;
}

.new-quiz {
  padding: 6px;
  background-color: #222322;
  border: none;
  font-size: 1.7em;
  border-bottom: dashed 1px white;
}

.new-quiz-option {
  padding: 6px;
  background-color: #222322;
  border: none;
  border-bottom: dashed 1px white;
}

.new-quiz-borderless-question {
  padding: 6px;
  background-color: #222322;
  border: none;
  border-bottom: dashed 1px white;
}

#quiz-life-title {
  font-size: 6em;
  margin-bottom: -15px;
  color: white;
  text-align: center;
}

.leader {
  color: white;
  text-align: center;
}

.timer-box {
  background-color: #222322;
  width: 80%;
  height: 40px;
  border: double 1.5px white;
  margin: 5px;
}

div.timer {
  margin-bottom: 1em;
  color: grey;
}

div.timer p {
  margin: 0em;
}

.start-page{
 margin: 25px;
}

.link {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 29px;
  font-size: 0.8em;
}

.shareable-link {
  word-wrap:break-word;
}

.url {
  padding-left: 17px;
  padding-right: 17px;
  word-wrap: break-word;
}

.copy-button {
  text-align: center;
}

.quiz {
  color: white;
  text-align: center;
}

.all-buttons {
  margin: 5px;
  width: 8em;
  background-color: #222322;
  color: white;
  border: solid 1px white;
}

.start-button {
  width: 100%;
  height: 80px;
  margin-top: 15px;
  background-color: #222322;
  color: white;
  border: solid 1px white;
  font-size: 3em;
}

.textArea {
  width: 100%;
}

.delete-button {
  border:none;
  background-color: #222322;
  color:white;
  font-size:3em;
  margin:5px;
}

.answer-select-box {
  background-color: #222322;
}

.score-card {
  text-align: center;
}

.quiz-name-button {
  font-size: 2.4em;
  margin: 0.2em;
  border:none;
  background-color: #222322;
  color: white;
}

.score-page {
  text-align: center;
}

.question-container {
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.questionText {
  font-size: 1.4em;
}

#create-button {
  border: double 5px white;
  border-radius:8px;
  color:white;
  background-color:#222322;
  font-size:2.5em;
  margin: 1em auto;
  width: 100%;
}

button:disabled {
    background-color: #858a91;
    color: #bec4ce;
    border-color: #212223;
    opacity: 0.5;
  }

table {
  display: inline-flex;
  border: double;
  font-size: 1.5em;
  margin-top: 1em;
}

td {
  border-spacing: 0px;
  padding: 15px;
}

th {
  text-decoration: underline;
  text-decoration-style: double;
  padding: 15px;
}

body {
  margin: 0;
  padding-top: 2em;
  font-family: crayonCrumble;
  background-color: #222322;
}

div.option {
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

div.option input[type=radio]{
  position: absolute;
  visibility: hidden;
}

input {
  background-color: #222322;
}

div.option label {
  display: block;
  position: relative;
  padding-top: 25px;
  margin: 10px auto;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

div.option:hover label {
  color: green;
}

div.option .check{
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

input[type=radio]:checked ~ label{
  color: green;
}
