@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Days+One');
@font-face {
  font-family: crayonCrumble;
  src: url('../../DK Crayon Crumble.ttf');
}

button:focus {outline:0;}

.new-quiz-question {
  border: solid 1px white;
  padding: 20px;
  margin: 15px 0;
}

.quiz-builder {
  color: white;
}

#quiz-life-title {
  font-size: 10em;
  margin-bottom: -15px;
  /* color: rgba(255, 255, 255, 0.8); */
  color:white;
  text-align: center;
}

.delete-button {
  border:none;
  background-color: #222322;
  color:white;
  font-size:3em;
  margin:5px;
}

.quiz-name-button {
  font-size:3em;
  margin:6px;
  border:none;
  background-color: #222322;
  color: white;
}

#create-button {
  margin-bottom: 17px;
  border: double 5px white;
  border-radius:8px;
  color:white;
  background-color:#222322;
  font-size:2.5em;
}

body {
  margin: 0;
  padding: 0;
  font-family: crayonCrumble;
  background-color: #222322;
}

div.option {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #333;
}

div.option input[type=radio]{
  position: absolute;
  visibility: hidden;
}

div.option label {
  display: block;
  position: relative;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

div.option:hover label {
  color: green;
}

div.option .check{
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

input[type=radio]:checked ~ label{
  color: green;
}
