.quiz {
  width: 500px;
  height: 400px;
  /* background-color: rgb(226, 105, 102); */



  /* SETTING IMAGE BACKGROUND ??? */
  /* background: url("/Users/marcovanali/Desktop/irishTheme.png");
  background-image: url("/Users/marcovanali/Desktop/irishTheme.png"); */

}
